
<main>
  <div class="container">
    <section class="sidebar">
      <div class="all-percentage-container">
        <h1>Scores</h1>
          <div class="gauge-container">
            <app-angular-gauge></app-angular-gauge>
          </div>
          <div class="text-area-container">
            <textarea class="text-area" readonly></textarea> <!--between textarea is the summary in which the candidate is specialized -->
          </div>
        </div>
        </section>
    <section class="main-content">
        <app-individualpercent></app-individualpercent>
    </section>
  </div>
</main>

<app-buttons></app-buttons>
