.container {
    display: flex;
    max-width: 100%;
    margin: 0 5%;
  }
  
  .sidebar {
    flex: 0 0 40%; /* Sidebar takes up 25% of the container width */
    padding: 10px;
  }
  
  .main-content {
    flex: 1; /* Main content occupies remaining space */
    padding: 20px;
  }
  