<div class="individualpercent">
<h4>Python</h4> <!--should change according to the extracted skill set-->
<p-progressBar 
    [value]="progressValue1" 
    [showValue]="true" 
    styleClass="custom-progress">
</p-progressBar>

<h4>Python</h4> <!--should change according to the extracted skill set-->
<p-progressBar 
    [value]="progressValue2" 
    [showValue]="true" 
    styleClass="custom-progress">
</p-progressBar>

<h4>Python</h4> <!--should change according to the extracted skill set-->
<p-progressBar 
    [value]="progressValue3" 
    [showValue]="true" 
    styleClass="custom-progress">
</p-progressBar>

<h4>Python</h4> <!--should change according to the extracted skill set-->
<p-progressBar 
    [value]="progressValue4" 
    [showValue]="true" 
    styleClass="custom-progress">
</p-progressBar>

<h4>Python</h4> <!--should change according to the extracted skill set-->
<p-progressBar 
    [value]="progressValue5" 
    [showValue]="true" 
    styleClass="custom-progress">
</p-progressBar>
</div>